// | -------------------------------------------------------------
// | Color
// | -------------------------------------------------------------

$colors: (
  primary: (
    100: hsl(0, 58%, 71%),
    200: hsl(0, 79%, 72%) ,
    300: hsl(357, 74%, 58%),
    400: hsl(357, 92%, 47%),
    500: hsl(357, 73%, 47%),
    600: hsl(357, 91%, 45%),
  ),
  secondary: (
    100: hsl(210, 10%, 43%),
    200: hsl(210, 11%, 28%),
    300: hsl(210, 11%, 18%),
    400: hsl(210, 9%, 9%),
    500: hsl(210, 50%, 1%),
  ),
  third: (
    100: hsl(235, 100%, 67%),
    200: hsl(235, 100%, 55%),
    300: hsl(235, 100%, 43%),
    400: hsl(235, 100%, 33%),
    500: hsl(235, 100%, 27%),
  ),
  neutral: (
    100: hsl(0 0% 100%),
    200: hsl(200 23% 97%),
    300: hsl(200 12% 95%),
    400: hsl(205 12% 88%),
    500: hsl(209 13% 83%),
    600: hsl(208 6% 55%),
    700: hsl(210 8% 31%),
    800: hsl(212 9% 22%),
    900: hsl(210 10% 14%),
  ),
  dark: (
    100: hsl(240, 4%, 9%),
  ),
);
