---
import DefaultLayout from "../layouts/DefaultLayout.astro";
---

<DefaultLayout title="História">
  <section class="mt-20">
    <div class="container">
      <h1>história</h1>
    </div>
  </section>
  <section class="my-12">
    <div class="space-content container">
      <p class="text-2xl">
        Procurou-se por todo o lado <br />mas não foi possivel enocntrar a
        página que procura
      </p>
      <a class="button" href="/">Voltar a página inicial</a>
    </div>
  </section>
</DefaultLayout>
