---
import CallToAction from "./CallToAction.astro";
import Feature from "../components/Feature.astro";

const currentYear = new Date().getFullYear();
---

<footer>
  <CallToAction />

  <section class="py-8 border-t-2 border-neutral-800">
    <div class="container">
      <p>
        &copy; {currentYear} - BVFF. Made with ❤ by <a
          href="https://albarino.pt"
          >Albarino
        </a>
      </p>
    </div>
  </section>
</footer>
