---
import { Icon } from "astro-icon/components";

const { src = "/Brasão Bombeiros Voluntarios Figueia da Foz (Square)-01.png" } =
  Astro.props;
---

<section class="lg:my-6">
  <div
    class="container bg-cover bg-center h-auto lg:rounded-xl"
    style="background-image: url('/../BVFF-cmdt.jpg'); background-repeat: no-repeat; "
  >
    <div class="grid grid-cols-1 items-center gap-24 lg:grid-cols-2">
      <div
        class="flex flex-col items-center gap-8 md:items-start pt-16 lg:pt-4 pb-8 lg:pb-0 pb"
      >
        <h1 class="text-center text-6xl md:text-left lg:text-8xl">
          <slot
            ><span class="text-gradient m-4 lg:mb-0"
              >Bombeiros Voluntários da Figueira da Foz</span
            ></slot
          >
        </h1>
        <div class="flex flex-row mb-2 lg:mb-0 gap-3">
          <a class="button has-icon" href="/socio">
            <Icon name="ion:compose" />
            Torne-se Sócio
          </a>
          <a class="button has-icon color-third" href="/sobre">
            <Icon name="ion:eye" />
            Saiba mais
          </a>
        </div>
      </div>
      <img class="hidden lg:block" src={src} alt="" decoding="async" />
    </div>
  </div>
</section>

<style lang="scss">
  .text-gradient {
    background: linear-gradient(
      315deg,
      var(--primary-300) 15%,
      var(--neutral-200)
    );
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
</style>
