---

---

<section class="my-64">
  <div class="container">
    <div class="grid grid-cols-1 gap-24 md:grid-cols-2">
      <div class="space-content flex flex-col justify-center">
        <h2>35º Parto em ambulancia nossa</h2>
        <p class="text-2xl">
          Dia 6 de Janeiro, pelas 22h, nasceu um bebê na nossa Ambulância na A14
          ao Km 13.4 , com o apoio da VMER do HDFF.
        </p>
        <slot />
      </div>
      <img
        src="/../latest new.jpg"
        class="rounded-lg"
        alt="latest news image"
      />
    </div>
  </div>
</section>
